@use './helpers/mixins' as *;
// @mixin list-reset{
//     padding: 0;
//     margin: 0;
//     list-style: none;
// }

// ul.links{
//     @include list-reset;
// }

// @mixin circle($dimensions){
//     border-radius: 50%;
//     -webkit-border-radius: 50%;
//     -moz-border-radius: 50%;
//     -ms-border-radius: 50%;
//     -o-border-radius: 50%;
//     width:$dimensions;
//     height: $dimensions;
// }

// .circle-100{
//     @include circle(100px);
//     background-color: red;
//     color: white;
// }

// .circle-200{
//     @include circle(200px);
//     background-color: red;
//     color: white;
// }

// @mixin centering{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .center-circle{
//     @include circle(400px);
//     @include centering;
// }

// @for $i from 1 through 10{ // all numbers from 1 to 10 with 10
//   .class-#{$i}{
//     font-size: 10px;
//   }
// }

// @for $i from 1 to 10{ // all numbers from 1 to 10 without 10
//     .class-#{$i}{
//         font-size: #{$i + 10px};
//       }
// }

// $dimensions:0;

// @for $i from 1 through 10{ 
//     .circle-#{$dimensions + 100}{
//       width:$dimensions + 100;
//       height:$dimensions + 100;
//       border-radius: 50%;
//       -webkit-border-radius: 50%;
//       -moz-border-radius: 50%;
//       -ms-border-radius: 50%;
//       -o-border-radius: 50%;
// }
//     $dimensions : 100 + $dimensions;
//   }
  
// $themes: red , green , blue;

// @each $theme in $themes{
//     .#{$theme}-theme{
//         background-color: white;
//         border-bottom: 2p solid $theme;
//         .title{
//             color: $theme;
//             font-weight: bold;
//         }
//     }
// }
// $socials:('facebook':'blue','youtube':'red','github':'black');

// @each $name, $color in $socials{
//     .#{$name}{
//         background-color: $color;
//         color: white;
//         &::before{
//             content: $name;
//         }
//     }
// } 

// $classes : 'one' 20px red, 'two' 15px green , 'three' 22px blue;

// @each $class,$font,$color in $classes{
//     .#{$class}{
//         font-size: $font;
//         background-color: $color;
//         color: white;
//         padding: $font / 2;
//     }
// } 


// $start:1;
// @while $start<=10{
//     .width-#{$start*100}{
//     width:$start * 100px;
//     height: ($start * 100 )/2 ;
//     }
//     $start:$start+1;
// }


// $grid_cols :12;

// @for $i from 1 through $grid_cols{
//      .col-#{$i}{
//        width:percentage($i / $grid_cols);
//      }
     
// }


// first assignment 



// @mixin basic{
// width:200px;
// height:200px;
// background-color:yellow;
// display:flex;
// justify-content:center;
// align-items:center;
// margin:auto;
// margin-top:100px;
// position: relative;
// }

// @mixin arrow($direction){
//         content: "";
//         position: absolute;
//         border: 20px solid transparent;
//         @if $direction == 'top'{
//             left: 50%;
//             transform: translateX(-50%);
//             top: -40px;
//             border-bottom-color: red;
//         }
//          @else if $direction =='right'{
//             top: 50%;
//             transform: translateY(-50%);
//             right: -40px;
//             border-left-color: red;
//             -webkit-transform: translateY(-50%);
//             -moz-transform: translateY(-50%);
//             -ms-transform: translateY(-50%);
//             -o-transform: translateY(-50%);
//          }  
//          @else if $direction =='left'{
//             top: 50%;
//             transform: translateY(-50%);
//             left: -40px;
//             border-right-color: red;
//             -webkit-transform: translateY(-50%);
//             -moz-transform: translateY(-50%);
//             -ms-transform: translateY(-50%);
//             -o-transform: translateY(-50%);
//         }
//         @else{
//             left: 50%;
//             transform: translateX(-50%);
//             bottom: -40px;
//             border-top-color: red;
//             -webkit-transform: translateX(-50%);
//             -moz-transform: translateX(-50%);
//             -ms-transform: translateX(-50%);
//             -o-transform: translateX(-50%);
// }
// }


// .element {
//     @include basic;
//     &::before {
//       @include arrow('bottom');
//     }
//   }
  
//second assignment

// $grid_cols :16;

// @for $i from 1 through $grid_cols{
//      .col-#{$i}{
//        width:percentage($i / $grid_cols);
//      }
     
// }


  
//third assignment

// $names:
//   "books" 20px red 18,
//   "games" 30px green 18,
//   "dvds" 20px blue;


//   @each $name, $padding , $color , $size in $names {
//     @if $size {
//         .#{$name}{
//             padding:  $padding ;
//             font-size: $size;
//             border-bottom: 2px solid $color;
//             color: #444;
//         }
//     }
//     @else{
//         .#{$name}{
//             padding:  $padding ;
//             font-size: 16px;
//             border-bottom: 2px solid $color;
//             color: #444;
//         }
//     }
//   }

//fourth assignment

// $init: 1;

// @while $init<=5{
//     .width-#{$init*100}{
//     width:$init * 100px;
//     height: $init * 100px;
//     border-radius: ($init * 100 )/2;
//     -webkit-border-radius: ($init * 100 )/2;
//     -moz-border-radius: ($init * 100 )/2;
//     -ms-border-radius: ($init * 100 )/2;
//     -o-border-radius: ($init * 100 )/2;
// }
// $init:$init+1;
// }

//fifth assignment

// $init :1;

// @for $i from $init through 5{
     
//     .width-#{$init*100}{
//             width:$init * 100px;
//             height: $init * 100px;
//             border-radius: ($init * 100 )/2;
//             -webkit-border-radius: ($init * 100 )/2;
//             -moz-border-radius: ($init * 100 )/2;
//             -ms-border-radius: ($init * 100 )/2;
//             -o-border-radius: ($init * 100 )/2;
//         } 
//         $init:$init+1; 
// }


// @mixin placeholder{
//     color: #777;
// }



// textarea {
//    &.placeholder{
//     @include placeholder;
//    }
//    &:-moz-placeholder{
//      @include placeholder;
//    }
//    &::-moz-placeholder{
//     @include placeholder;
//   }
//   &:-ms-input-placeholder{
//     @include placeholder;
//   }
//   &::-webkit-input-placeholder {
//     @include placeholder;
//   }
//   }
  
  

@function half($size){
   @return $size/2 ;
}

// $width:200px;

// .element{
//     width:$width;
//     height: half($width);
// }



// @function calculate($sizes...){
//     $total:0;

//     @each $size in $sizes{
//         $total : $total + $size;
//     }
<<<<<<< HEAD
//     @return $total;
// }

// $width:200px;

// .element{
//     width:$width;
//     height: half($width);
//     top:calculate(100px, 200px, 50px);
// }



.black-overlay{
  @include overlay(black,0.5);
}


@mixin keyF($anim-name){    
    @keyframes #{$anim-name}{
    @content;
    }

    @-webkit-keyframes #{$anim-name}{
      @content;
    }

}

@include keyF(fade-in){
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@include keyF(go-up){
    from {
        bottom: 0;
    }
    to {
        bottom: 100px;
    }
}

.media{
    @include breakpoints(mobile){
          font-size: 15px;
    }
    @include breakpoints(small){
        font-size: 18px;
  }
  @include breakpoints(medium){
    font-size: 20px;
}
@include breakpoints(large){
    font-size: 22px;
}
}
=======
//   }

//First

$main: "school";
$child: "box";
$language: "ar"; // English
$gap: 20px;


.#{$main}{
  padding: #{$gap};
  @if $language=="en"{
      direction:ltr;
  }
  @else{
      direction:rtl;
  }
  margin-left: #{$gap};
   .#{$main}-#{$child}{
       padding:calc(20px / 2);
   }
   &:hover{
       .#{$main}-#{$child}{
           background-color: #eee;
       }
   }
}

//Second

// SASS Code
$main-color: red;
$alt-color: blue;

// Needed Output
/* Theme Version: 1.0 */
/* Website Theme Main Color Is: #{$main-color} */
/* Website Theme Alternate Color Is: #{$alt-color} */

//Third
$number:10;

.class {
@if $number>8 {
    color:blue;
}
@else if $number>5{
    color:green;
}
@else{
    color :red;
}

}

//Fourth


$number: 10;
$color: red;
$theme: light;

@if $number>5{
  @if $color==red{
      @if $theme==light{
          .class {
              color: red;
            }
      }
  }  
}


//Sixth


$number: 8;
@if $number==8{
    //Nothing
}

  .box {
       @if $number == 10{
           text-align:center;
           background-color: #EEE;
       }
       @else if $number == 9{
          background-color: #EEE;
       }
    }


>>>>>>> 364fac9e30ae5c37ce5eb99d5de75f661fb9233c
